<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Expenses Tracker</title>
    <style>
        table {
            width: 100%; /* Set the table width to 100% of its container */
            border-collapse: collapse; /* Collapse the borders to avoid spacing between cells */
        }

        th, td {
            border: 1px solid black; /* Add a border to table header cells and data cells */
            padding: 8px; /* Add some padding to cells for better spacing */
        }
    </style>
</head>
<body>
    <h1>Expenses Tracker</h1>
    <table border="1">
        <thead class="table_header">
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody style=>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.name }}</td>
                <td>${{ expense.amount }}</td>
                <td>{{ expense.category }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  

    <div>
        <button id="addExpenseBtn">
            Add Expense
        </button>
        <button id="modifyExpenseBtn">
            Modify Expense
        </button>
        <button id="deleteExpenseBtn">
            Delete Expense
        </button>
    </div>
    <script src="../button.js"></script>
</body>
</html>